.catalog-block {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.catalog-block__wave {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    height: 24px;
    bottom: -12px;
    width: 100%;

    background-image: url("../img/svg/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }

  @media (min-width: $desk-width) {
    height: 34px;
  }
}

.catalog-block__item {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 50%;
    max-width: 100%;
    margin: 0;
    flex-grow: 1;
    height: 119px;

    &:hover {
      height: 124px;
      margin-top: -5px;
    }

    &:active span {
      opacity: 0.3;
    }
  }

  &--interior {
    background-color: #63d1bb;

    &::before {
      @media (max-width: $max-mobile-width) {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        width: 100vw;
        height: 100%;

        background-color: #63d1bb;
      }
    }
  }

  &--toy {
    background-color: #56c3b2;

    &::before {
      @media (max-width: $max-mobile-width) {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 2;

        width: 100vw;
        height: 50%;

        background-color: #56c3b2;
      }
    }
  }
}


.catalog-block__item span {
  padding-top: 25px;
  z-index: 3;

  color: $font-color-white;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-top: 25px;

    line-height: 30px;
  }
}

.catalog-block__item svg {
  margin-left: 30px;

  opacity: 0.5;
}

.catalog-block__item:hover svg {
  opacity: 0.7;
}

.catalog-block__item:active svg {
  opacity: 0.3;
}

.catalog-block__icon {
  display: block;
  margin-bottom: 18px;
  margin-top: 23px;
  z-index: 3;

  fill: $color-green;

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    margin-top: 30px;
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.catalog-block__item--interior svg {
  fill: #29a592;
}

.catalog-block__item--toy svg {
  fill: #239f8e;
}

.catalog-block__title {
  margin: 0;

  font-family: $open-sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}
