.catalog-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin-bottom: 0;

  @media (min-width: $desk-width) {
    align-items: stretch;
    align-content: space-between;
  }
}

.catalog-list__item {
  max-width: 520px;
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 55px;
  }

  @media (min-width: $desk-width) {
    flex-direction: column;
    width: 316px;

    &:not(:nth-child(3n)) {
      margin-right: calc((100% - 948px) / 2);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (min-width: 1424px) {
    &:nth-child(4n) {
      margin-right: 0;
    }

    &:not(:nth-child(4n)) {
      margin-right: calc((100% - 1264px) / 3);
    }
  }
}

.catalog-list__image-link {
  display: block;
  line-height: 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desk-width) {
    width: auto;
  }
}

.catalog-list__item-wrapper {
  padding-left: 30px;
  padding-right: 30px;

  border: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.catalog-list__item:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.catalog-list__item:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.catalog-list__item-title {
  padding-top: 25px;
  padding-bottom: 5px;
  margin: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $font-color-black;
}

.catalog-list__link:hover .catalog-list__item-title {
  opacity: 0.6;
}

.catalog-list__link:active .catalog-list__item-title {
  opacity: 0.3;
}

.catalog-list__item-image {
  @media (min-width: $desk-width) {
    width: 316px;
  }
}

.catalog-list__item-desk {
  margin-top: 0;
  margin-bottom: 18px;

  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: $font-color-grey;
}

.catalog-list__item-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $font-color-black;
}

.catalog-list__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0 13px 0;

  border-top: 1px solid $light-grey;
}

.catalog-list__cart {
  padding-top: 3px;

  fill: #cccccc;

  &:hover {
    fill: $color-green;
  }

  &:active {
    fill: $color-green;
    opacity: 0.3;
  }
}
