.catalog-block {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.catalog-block__item {
  display: flex;
  justify-content: space-between;

  &--interior {
    background-color: #63d1bb;
  }

  &--interior:before {
    @media (max-width: $max-mobile-width) {
      content: "";
      position: absolute;
      left: 0;
      top: 0;

      width: 30px;
      height: 100%;

      background-color: #63d1bb;
      }
    }

  &--interior:after {
    @media (max-width: $max-mobile-width) {
      content: "";
      position: absolute;
      right: 0;
      top: 0;

      width: 30px;
      height: 100%;

      background-color: #63d1bb;
      }
    }

  &--toy {
    background-color: #56c3b2;
  }

  &--toy:before {
    @media (max-width: $max-mobile-width) {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;

      width: 30px;
      height: 50%;

      background-color: #56c3b2;
      }
    }

  &--toy:after {
    @media (max-width: $max-mobile-width) {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;

      width: 30px;
      height: 50%;

      background-color: #56c3b2;
      }
    }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.catalog-block__item span {
  max-width: 150px;
  padding-top: 25px;
  padding-left: 30px;

  color: $font-color-white;
}

.catalog-block__item svg {
  min-width: 110px;

  opacity: 0.5;
}

.catalog-block__icon {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;

  fill: $color-green;
}


.catalog-block__item--interior svg {
  fill: #29a592;
}

.catalog-block__item--toy svg {
  fill: #239f8e;
}

.catalog-block__title {
  margin: 0;

  font-family: $open-sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}
