.catalog-list {
  list-style: none;
  padding: 0;

  @media (min-width: $desk-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    margin-left: -50px;
  }
}

.catalog-list__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desk-width) {
    flex-direction: column;
    width: 316px;
    margin-left: 50px;
  }
}

.catalog-list__item a {
  display: inline-block;
}

.catalog-list__item-image {
  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.catalog-list__item-wrapper {
  border: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.catalog-list__item:hover .catalog-list__item-wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.catalog-list__item:active .catalog-list__item-wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.catalog-list__item-title {
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 5px;
  margin: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $font-color-black;
}

.catalog-list__link:hover .catalog-list__item-title {
  opacity: 0.6;
}

.catalog-list__link:active .catalog-list__item-title {
  opacity: 0.3;
}

.catalog-list__item-desk {
  padding-left: 30px;
  margin: 0;

  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: $font-color-grey;
}

.catalog-list__item-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: $font-color-black;
}

.catalog-list__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px 13px 30px;
}

.catalog-list__cart {
  padding-top: 3px;

  fill: #cccccc;

  &:hover {
    fill: $color-green;
  }

  &:active {
    fill: $color-green;
    opacity: 0.3;
  }
}
