.company-block {
  margin-bottom: 55px;

  @media (min-width: $desk-width) {
    padding-left: 175px;
  }
}

.company-block__list {
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    max-width: 700px;
    margin-top: -10px;
  }

  @media (min-width: $desk-width) {
    max-width: 700px;
  }
}

.company-block__list-item {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $font-color-black;

  @media (min-width: $tablet-width) {
    width: 310px;

    font-size: 20px;
    line-height: 22px;
  }
}

.company-block__list-icon {
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;

  fill: $color-green;
}
