.contacts__list-wrapper {
  display: flex;
  margin-bottom: 35px;
}

.contacts__desk {
  margin-left: 30px;
}

.contacts__email {
  color: $font-color-grey;
  padding-bottom: 4px;

  border-bottom: 1px solid $border-green;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
