.contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $desk-width) {
    position: relative;

    justify-content: space-between;
    padding-left: 175px;
    margin-top: 70px;
    height: 457px;
    max-height: 566px;
    margin-bottom: 105px;
  }
}

.contacts__title-h2 {
  @media (max-width: $max-mobile-width) {
    font-size: 18px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desk-width) {
    margin-top: 70px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      right: 0;
      top: -15px;

      width: 47px;
      height: 81px;

      background-image: url("../img/svg/icon-flag.svg");
    }

    @media (min-width: $desk-width) {
      left: -110px;
      top: -10px;
    }
  }
}

.contacts__list-wrapper {
  display: flex;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 55px;
  }

  @media (min-width: $desk-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contacts__desk {
  margin-left: 30px;
}

.contacts__email {
  color: $font-color-grey;
  padding-bottom: 4px;

  border-bottom: 1px solid $border-green;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__list {
  margin-bottom: 0;

  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desk-width) {
    width: 38%;
  }
}

.contacts__yamap {
  width: 100vw;
  height: 457px;

  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 40px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-size: 322px 457px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e0e0e0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 50px;

    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desk-width) {
    position: absolute;
    content: "";
    top: 0;
    right: 50px;

    width: 50%;

    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__button {
  margin: auto;

  @media (min-width: $desk-width) {
    margin-left: 0;
    margin-bottom: 0;
  }
}
