.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 50px;
    margin-top: 60px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 80px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 20px 30px 25px 30px;
  margin: 0;

  list-style: none;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 40px;
}

.footer__social-link {
  & svg {
    fill: #221f1f;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 20px;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: $font-color-black;

  fill: #6cd3be;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer__copyright span {
  padding-right: 30px;
}
