.form {
  margin-bottom: 55px;

  @media (min-width: $desk-width) {
    padding-left: 60px;
    padding-right: 170px;
  }
}

.form__intro {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desk-width) {
    padding-left: 125px;
  }
}

.form fieldset {
  border: none;
}

.form__legend {
  @media (max-width: $max-mobile-width) {
    background-color: #ffffff;
    padding-right: 20px;
  }
}

.form__tel .form__fieldset-wrapper,
.form__email .form__fieldset-wrapper {
  position: relative;
}

.form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.form__input-wrapper {
  width: 100%;

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      max-width: 950px;
    }

    @media (min-width: $desk-width) {
      justify-content: space-between;
    }
  }
}

.form legend {
  position: relative;

  display: inline-block;
  margin-bottom: 10px;

  color: $font-color-green;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 205px;
  }

  @media (min-width: $desk-width) {
    width: 125px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 50%;

    width: 100%;
    height: 1px;

    background: #62d1ba;
    z-index: -1;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.form__info,
.form__tel,
.form__email {
  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }
}

.form__tel legend,
.form__email legend,
.form__textarea legend {
  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.form label {
  margin-left: 2px;

  color: $font-color-black;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__radio {
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.form__radio label {
  position: relative;

  display: block;
  margin-bottom: 43px;
  padding-left: 65px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding-left: 80px;
  }
}

.form__radio legend {
  margin-bottom: 30px;
}

.form__radio input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;

  width: 40px;
  height: 40px;

  border: 2px solid $color-black;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -16px;

    width: 52px;
    height: 52px;
  }
}

.form__radio input:hover + label::before {
  border: 2px solid $border-green;
}

.form__radio input:active + label::before {
  border: 2px solid $color-black;
  opacity: 0.3;
}

.form__radio input:checked + label::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 2px;

  width: 16px;
  height: 16px;

  background-color: $border-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 16px;
    top: 0;

    width: 20px;
    height: 20px;
  }
}

.form__checkbox {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 67px;
    margin-bottom: 62px;

    @include padding-form-tablet();

    background-color: #f1f1f1;
  }

  @media (min-width: $desk-width) {
    @include padding-form-desk-min();
  }

  @media (min-width: $max-desk-width) {
    @include padding-form-desk();
  }
}

.form__tel {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-top: 52px;

    @include padding-form-tablet();

    background-color: #f1f1f1;
  }

  @media (min-width: $desk-width) {
    @include padding-form-desk-min();
  }

  @media (min-width: $max-desk-width) {
    @include padding-form-desk();
  }
}

.form__email {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $tablet-width) {
    @include padding-form-tablet();
    padding-bottom: 33px;
    margin-bottom: 50px;

    background-color: #f1f1f1;
  }

  @media (min-width: $desk-width) {
    @include padding-form-desk-min();
    padding-bottom: 33px;
    margin-bottom: 50px;

    background-color: #f1f1f1;
  }

  @media (min-width: $max-desk-width) {
    @include padding-form-desk();
  }
}

.form__checkbox label {
  position: relative;
  margin-bottom: 43px;

  display: block;
  padding-left: 60px;

  @media (min-width: $tablet-width) {
    width: 240px;
    padding-left: 80px;
    margin-bottom: 57px;
  }
}

.form__checkbox legend {
  margin-bottom: 37px;
}


.form__checkbox input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;

  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: 2px solid $color-black;

  transition: 0.3s;

  @media (min-width: $tablet-width) {
    width: 55px;
    height: 52px;
  }
}

.form__checkbox input:hover + label::before {
  border: 2px solid $border-green;
}

.form__checkbox input:active + label::before {
  border: 2px solid $color-black;
  opacity: 0.3;
}

.form__checkbox input:checked + label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 45%;
  width: 8px;
  height: 21px;

  border-right: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  transform: translateY(-50%) rotate(45deg);

  @media (min-width: $tablet-width) {
    left: 20px;
    top: 37%;

    width: 16px;
    height: 30px;
  }
}

.form__info {
  margin-top: -20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.form__info label {
  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-right: 25px;
  }
}

.form__info legend {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.form__textarea {
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.form__textarea legend {
  margin-bottom: 23px;
}

.form__textarea textarea {
  width: 100%;
  height: 140px;
  border: 2px solid $color-black;
  padding: 14px 13px;
  transition: 0.3s;

  font-family: $main-font;
  color: $font-color-grey;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.form__textarea:hover textarea {
  border: 2px solid $border-green;
  opacity: 1;
}

.form input[type="tel"],
.form input[type="email"] {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
  }
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 18px;

  font-family: $main-font;
  color: $font-color-grey;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid $color-black;

  &:hover,
  &:active {
    border-bottom: 2px solid $border-green;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 19px;
    line-height: 18px;
  }
}

.form__info-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 8px;
  }
}

.form__email,
.form__tel {
  position: relative;
}

.form__email input,
.form__tel input {
  padding-right: 50px;
}

.form__input-svg {
  position: absolute;
  display: block;
  fill: $font-color-grey;
  opacity: 0.3;

  &--email {
    top: 30px;
    right: 4px;

    @media (min-width: $tablet-width) {
      top: 6px;
      right: 24px;
    }
  }

  &--tel {
    top: 34px;
    right: 4px;

    @media (min-width: $tablet-width) {
      top: 6px;
      right: 24px;
    }
  }
}

.form__email input:hover .form__input-svg,
.form__tel input:hover .form__input-svg {
  fill: $border-green;
}

.form__tel:hover svg,
.form__email:hover svg {
  fill: #62d1ba;
  opacity: 1;
}

.form__tel:active svg,
.form__email:active svg {
  fill: #62d1ba;
  opacity: 1;
}

.form__note {
  color: $font-color-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 2;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__bottom-wraper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
  }

  @media (min-width: $desk-width) {
    padding-left: 110px;
  }
}

.form__submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0;
  }
}
