.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1;
  }
}

.main-nav__toggle {
  position: absolute;
  content: "";
  top: -44px;
  right: 27px;
  z-index: 2;

  width: 24px;
  height: 18px;

  vertical-align: bottom;

  background-image: url("../img/svg/icon-menu-open.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;

  cursor: pointer;
  outline: none;
}

.main-nav--opened .main-nav__toggle {
  top: 27px;
  right: 27px;
  z-index: 2;

  width: 21px;
  height: 21px;

  background-image: url("../img/svg/icon-menu-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;

  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo {
  display: flex;
  width: 100%;
  max-width: 86px;
  margin: 0 auto 18px auto;

  @media (min-width: $tablet-width) {
    max-width: 113px;
    margin: 0 30% 15px 0;
  }

  @media (min-width: $desk-width) {
    order: 2;
    max-width: 149px;
    margin-right: 0;
    margin-bottom: 0;
  }
}


.main-nav__logo-image {
  padding-top: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 113px;
    padding-top: 23px;
  }

  @media (min-width: $desk-width) {
    width: 149px;
    padding-top: 8px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__note {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 4;
    margin-top: 14px;
  }

  @media (min-width: $desk-width) {
    order: 5;
    padding-top: 3px;
  }
}
