.main-index__wrapper-back {
  position: relative;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -15px;
  background-size: auto 76%;
  background-color: #f9f9f9;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-top: -53px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: $desk-width) {
    margin-top: -56px;
    background: url("../img/hero-desktop@1x.jpg") no-repeat 50% -15px, #f9f9f9;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.main-index__title {
  max-width: 270px;
  min-height: 290px;
  padding-top: 70px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  background-color: initial;

  &::after {
    content: none;
  }

  @media (min-width: $tablet-width) {
    min-width: 530px;
    padding-top: 153px;
    min-height: 625px;
  }

  @media (min-width: $desk-width) {
    min-width: 620px;
  }
}

.main-index__wave {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    height: 24px;
    bottom: -12px;
    width: 100%;

    background-image: url("../img/svg/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
  }

  @media (min-width: $desk-width) {
    height: 34px;
  }
}
