.popular {
  display: flex;
  flex-direction: column;

  position: relative;
}

.popular__title-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.popular__info-wrapper {
  order: 1;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.popular__image {
  order: 2;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    right: 0;
  }
}

.popular__table {
  margin-bottom: 25px;
}

.popular__table th {
  padding-right: 30px;

  font-weight: 400;
  text-align: left;
}

.popular__table tr {
  border-bottom: 1px solid $border-light-gray;
}

.popular__price-block {
  display: flex;
  flex-direction: column;
  order: 3;
}

.popular__price {
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.popular__button-buy {
  margin: auto;
}
