.popular {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.popular__title-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    order: 1;
  }
}

.popular__info-wrapper {
  order: 1;

  @media (min-width: $tablet-width) {
    width: 50%;
    order: 2;
  }
}

.popular__image {
  order: 2;

  @media (min-width: $tablet-width) {
    order: 3;
    width: auto;
  }
}

.popular__table {
  margin-bottom: 25px;
}

.popular__table th {
  padding-right: 30px;

  font-weight: 400;
  text-align: left;
}

.popular__table tr {
  border-bottom: 1px solid $border-light-gray;
}

.popular__price-block {
  display: flex;
  flex-direction: column;
  order: 3;
  width: 50%;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.popular__price {
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.popular__button-buy {
  margin: auto;
}
