.promo-video {
  padding-bottom: 30px;

  border: 1px solid $border-light-gray;
}

.promo-video__title {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.promo-video__title svg {
  padding-right: 25px;

  fill: #63d1bb;
}

.promo-video__desk {
  padding-left: 30px;
  padding-right: 30px;
}
