.user-list__item {
  position: relative;

  border-bottom: 1px solid  #ececec;
}

.user-list__item::before {
  position: absolute;
  content: "";
  top: 30px;
  left: 30px;

  vertical-align: bottom;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;

  cursor: pointer;
  outline: none;
}

.user-list__item--search::before {
  width: 18px;
  height: 18px;

  background-image: url("../img/svg/icon-search.svg");
}

.user-list__item--search:hover .user-list__item--search::before {
  background-image: url("../img/svg/icon-search-hover.svg");
}

.user-list__item--cart::before {
  width: 21px;
  height: 19px;

  background-image: url("../img/svg/icon-cart.svg");
}
