.wave {
  height: 6px;
  margin-top: 37px;
  margin-bottom: 26px;

  background-image: url("../img/svg/bg-zigzag-line.svg");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: contain;
}
