@mixin padding-form-desk() {
  margin-left: calc((1450px - 100vw) / 2 - 115px);
  margin-right: calc((1450px - 100vw) / 2 - 220px);
  padding-left: calc((100vw - 1450px) / 2 + 115px);
  padding-right: calc((100vw - 1450px) / 2 + 220px);
}

@mixin padding-form-tablet() {
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}

@mixin padding-form-desk-min() {
  margin-left: -115px;
  margin-right: -220px;
  padding-left: 115px;
  padding-right: 220px;
}
