.h1 {
  padding-top: 70px;
  margin-bottom: 130px;
  margin-top: 0;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  &--index {
    max-width: 270px;
    min-height: 210px;
    margin: auto;
  }

  &--catalog {
    padding-bottom: 80px;
    margin-bottom: 30px;

    background-color: #f1f1f1;
  }
}

.h2 {
  margin-bottom: 27px;

  color: $font-color-black;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  &--popular {
    order: 2;

    margin-top: 5px;
    margin-bottom: 10px;

    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: $font-color-green;
  }

  &--contacts {
    font-size: 18px;
  }

  &--promo-video {
    margin-top: 30px;

    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
  }
}

.h3--popular {
  order: 1;

  margin-bottom: 0;

  color: $font-color-black;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
