$font-color-black: #000000;
$font-color-white: #ffffff;
$font-color-green: #63d1bb;
$font-color-grey: #444444;
$color-white: #ffffff;
$border-light-gray: #ececec;
$light-grey: #ededed;
$border-grey: #444444;
$border-green: #62d1ba;
$color-green: #63d1bb;
$color-black: #000000;

$open-sans: "Open Sans", "Arial", sans-serif;

$max-mobile-width: 767px;
$tablet-width: 768px;
$desk-width: 1150px;
