$font-color-black: #000000;
$font-color-white: #ffffff;
$font-color-green: #63d1bb;
$font-color-grey: #444444;
$color-white: #ffffff;
$border-light-gray: #ececec;
$border-grey: #444444;
$border-green: #62d1ba;
$color-green: #63d1bb;

$open-sans: "Open Sans", "Arial", sans-serif;
